<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chat com NodeJS - Cadastro</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<form action="/users/user" id="form-cadastro" method="post">
			<h2>Faça seu cadastro</h2>
			<label for="inputNick">Nome de Usuário:</label>
			<input type="text" name="nick" id="inputNick" class="form-control" placeholder="Nome de Usuário" required autofocus>
			<label for="inputPassword" name="password">Senha:</label>
			<input type="password" name="password" id="inputPassword" placeholder="senha" class="form-control" required>

			<center style="margin-top: 10px;">
				<button class="btn btn-lg btn-primary" type="submit">Cadastrar</button>
			</center>
		</form>
	</div>
	
</body>
</html>