<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Chat com NodeJS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="/users/login">
        <h2 class="form-signin-heading">Por favor faça login</h2>
        <label for="inputEmail" class="sr-only">Nome de Usuário</label>
        <input type="text" id="inputEmail" class="form-control" name="nick" placeholder="Nome de Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword"name="password" class="form-control" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>
	  <center>
		  <a href="/cadastro">Cadastre-se</a>
		</center>
    </div> <!-- /container -->
  </body>
</html>